@using hbehr.recaptcha;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" href="@Url.Content("~/static/css/member.css")" />
}
@section scripts {
    <script src="@Url.Content("~/static/js/member/login.js")"></script>
}

<div id="app" class="container main">
    <div class="entry-wrap">
        <div class="aside">
            <img class="w100p" src="@Url.Content("~/static/image/illu-access.svg")" />
        </div>
        <div class="side-form">
            <h1>帳號登入</h1>
            <el-form :rules="rules" ref="form" :model="form">
                <el-form-item prop="Email" label="Email">
                    <el-input type="email" v-model="form.Email"></el-input>
                </el-form-item>
                <el-form-item prop="Password" label="密碼">
                    <el-input type="password" v-model="form.Password" maxlength="20"></el-input>
                </el-form-item>
                <el-form-item prop="Captcha">
                    @ReCaptcha.GetCaptcha()
                </el-form-item>
                <div class="bottom-btn-row">
                    <button type="button" class="btn-send btn-block" @@click="login">登 入</button>
                </div>
            </el-form>
            <div class="oth-links">
                <a href="@Url.Content("~/Member/Forget")">忘記密碼</a>
                <a href="@Url.Content("~/Member/Regist")">註冊帳號</a>
            </div>
        </div>
    </div>
</div>
