@using hbehr.recaptcha;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" href="@Url.Content("~/static/css/member.css")" />
}
@section scripts {
    <script src="@Url.Content("~/static/js/member/regist.js")"></script>
}

<div id="app" class="container main">
    <div class="entry-wrap">
        <div class="aside">
            <img class="w100p" src="/static/image/illu-access.svg" />
        </div>
        <div class="side-form">
            <h1>註冊帳號</h1>
            <el-form :rules="rules" ref="form" :model="form" label-position="top">
                <el-form-item prop="UserType" label="會員類型">
                    <el-select class="w100p" v-model="form.UserType">
                        <el-option label="營建空污費申報" :value="1"></el-option>
                        <el-option label="營建自主管理" :value="2"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item prop="Email" label="Email">
                    <el-input type="email" v-model="form.Email" maxlength="50">
                        <el-button slot="append" type="primary" class="btn-append" @@click="sendCode" :disabled="btnSendCodeDisabled">{{btnSendCodeText}}</el-button>
                    </el-input>
                    <small class="prompt-text">請至您的電子郵件信箱查看信箱驗證碼</small>
                </el-form-item>
                <el-form-item prop="ActiveCode" label="信箱驗證碼">
                    <el-input type="text" inputmode="numeric" v-model="form.ActiveCode"></el-input>
                </el-form-item>
                <el-form-item prop="CompanyID" label="統一編號">
                    <el-input v-model="form.CompanyID" maxlength="8"></el-input>
                    <small class="prompt-text">註冊後不可修改</small>
                </el-form-item>
                <el-form-item prop="UserName" label="姓名">
                    <el-input v-model="form.UserName" maxlength="20"></el-input>
                </el-form-item>
                <el-form-item prop="Password" label="密碼">
                    <el-input type="password" v-model="form.Password" maxlength="20"></el-input>
                    <small class="prompt-text">密碼須為 6 ~ 20 字，且須使用大、小寫英文 + 數字組合</small>
                </el-form-item>
                <el-form-item prop="Password2" label="確認密碼">
                    <el-input type="password" v-model="form.Password2" maxlength="20"></el-input>
                </el-form-item>
                <el-form-item prop="Captcha">
                    @ReCaptcha.GetCaptcha()
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" class="btn-block" @@click="regist">確認送出</el-button>
                </el-form-item>
            </el-form>
            <div class="oth-links">
                <a href="@Url.Content("~/Member/Login")">帳號登入</a>
                <a href="@Url.Content("~/Member/Forget")">忘記密碼</a>
            </div>
        </div>
    </div>
</div>
