
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner">
    <div class="wrap">
        <div class="left">
            <h2>營建工程空氣污染防制費<br /><span class="sub">線上申報系統</span></h2>
            <a href="@Url.Content("~/Home/Calc")" class="link white-outline">試算費用</a>
            <a href="@Url.Content("~/Apply/Form")" class="link primary">我要申報</a>
        </div>
        <div class="right">
            <img class="bg-building" src="@Url.Content("~/static/image/architect2.png")" />
        </div>
    </div>
    <img class="bg-dot" src="@Url.Content("~/static/image/bg-dots.png")" />
</div>
<div class="news-wrapper">
    <div class="container">
        <h3>最新消息</h3>
        @if (ViewBag.News.Count == 0)
        {
            <div class="empty">暫無任何最新消息</div>
        }
        else
        {
            <ul class="index-news-list">
                @foreach (var item in ViewBag.News)
                {
                    <li>
                        <a href="@Url.Content($"~/News/Content?id={item.ID}")" class="title">@item.Title</a>
                        <span class="date">@item.CreateDate.ToString("yyyy-MM-dd")</span>
                    </li>
                }
            </ul>
            <div class="text-right">
                <a href="@Url.Content("~/News/Index")" class="btn-more">更多消息</a>
            </div>
        }

    </div>
</div>

<div class="download-wrapper">
    <div class="container">
        <h3>下載專區</h3>
        @if (ViewBag.Downloads.Count == 0)
        {
            <div class="empty">暫無任何下載檔案</div>
        }
        else
        {
            <ul class="index-download-list">
                @foreach (var item in ViewBag.Downloads)
                {
                    <li>
                        <div class="title">@item.Title</div>
                        <a href="@Url.Content("~/static/download/" + item.Filename)" class="btn-download">檔案下載</a>
                    </li>
                }
            </ul>
            <div class="text-right">
                <a href="@Url.Content("~/Download/Index")" class="btn-more">更多內容</a>
            </div>
        }
    </div>
</div>
