
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner">
    <img class="bg-dot" src="@Url.Content("~/static/image/bg-dots.png")" />
    <div class="container">
        <div class="left">
            <h2>營建工程空氣污染防制費<br /><span class="sub">線上申報系統</span></h2>
            <a href="@Url.Content("~/Form/Calc")" class="link">營建空污費試算</a>
            <a href="@Url.Content("~/Form/Create")" class="link">營建空污費申報</a>
        </div>
        <div class="right">
            <img class="illu-building" src="@Url.Content("~/static/image/illu-building.svg")" />
        </div>
    </div>
</div>
<div class="news-wrapper">
    <div class="container">
        <div class="left">
            <img class="illu-news" src="@Url.Content("~/static/image/illu-news.svg")" />
        </div>
        <div class="right">
            <h3>最新消息</h3>
            <ul class="index-news-list">
                @foreach (var item in ViewBag.News)
                {
                    <li>
                        <span class="date">@item.CreateDate.ToString("yyyy-MM-dd")</span>
                        <a href="@Url.Content($"~/News/Content?id={item.ID}")" class="title">@item.Title</a>
                    </li>
                }
            </ul>
            <div class="text-right">
                <a href="@Url.Content("~/News/Index")" class="btn-more">更多消息</a>
            </div>
        </div>
    </div>
</div>

