@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css">
    <link rel="stylesheet" href="@Url.Content("~/static/css/member.css")" />
}
@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="@Url.Content("~/static/js/bank.js")"></script>
    <script src="@Url.Content("~/static/js/apply/form.js")"></script>
}

<div id="app">
    <input type="hidden" id="hfUserEmail" value="@ViewBag.CurrentUser.Email" />
    <input type="hidden" id="hfUserName" value="@ViewBag.CurrentUser.UserName" />
    <div class="main-wrap">
        <h2>個人申報專區</h2>
        <el-form inline>
            <el-form-item label="申報日期">
                <el-date-picker v-model="filter.StartDate" type="date" value-format="yyyy-MM-dd" :clearable="false" placeholder="請選擇日期"></el-date-picker>
                ~
                <el-date-picker v-model="filter.EndDate" type="date" value-format="yyyy-MM-dd" :clearable="false" placeholder="請選擇日期"></el-date-picker>
            </el-form-item>
            <el-form-item label="申請人">
                <el-input v-model="filter.CreateUserName"></el-input>
            </el-form-item>
            <el-form-item label="管制編號">
                <el-input v-model="filter.C_NO"></el-input>
            </el-form-item>
            <el-form-item label="案件類型">
                <el-select v-model="filter.PUB_COMP">
                    <el-option label="請選擇" :value="null"></el-option>
                    <el-option label="私人工程" :value="false"></el-option>
                    <el-option label="公共工程" :value="true"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="工程名稱">
                <el-input v-model="filter.COMP_NAM"></el-input>
            </el-form-item>
            <el-form-item label="狀態">
                <el-select style="width:140px" v-model="filter.Status">
                    <el-option label="請選擇" :value="0"></el-option>
                    <el-option label="審理中" :value="1"></el-option>
                    <el-option label="待補件" :value="2"></el-option>
                    <el-option label="通過待繳費" :value="3"></el-option>
                    <el-option label="已繳費完成" :value="4"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" icon="el-icon-search" @@click="getForms">查 詢</el-button>
            </el-form-item>
            <el-form-item>
                <el-button type="success" icon="el-icon-edit" @@click="addForm">我要申報</el-button>
            </el-form-item>
        </el-form>

        <div class="form-wrap">
            <div v-if="forms.length === 0" class="empty" v-cloak>
                <img src="@Url.Content("~/static/image/illu-empty.png")" />
                <div class="empty-text">查無任何申報資料</div>
            </div>
            <div class="form-item" v-for="(item, idx) in forms" :key="idx" v-cloak>
                <div class="status">案件類型: {{item.PUB_COMP ? '公共工程' : '私人工程'}}</div>
                <ul class="info-list">
                    <li>
                        <div class="title">管制編號：</div>
                        <div class="content">{{item.C_NO || '(待取號)'}}</div>
                    </li>
                    <li>
                        <div class="title">申報日期：</div>
                        <div class="content">{{item.C_DATE | date}}</div>
                    </li>
                    <li>
                        <div class="title">營建業主：</div>
                        <div class="content" :title="item.S_NAME">{{item.S_NAME}}</div>
                    </li>
                    <li>
                        <div class="title">工程名稱：</div>
                        <div class="content" :title="item.COMP_NAM">{{item.COMP_NAM}}</div>
                    </li>
                    <li style="border-bottom: 1px dashed #FF9C73;">
                        <div class="title">申報狀態：</div>
                        <div class="content">{{getFormStatus(item)}}</div>
                        <div class="link-row">
                            <el-button size="mini" type="info" round v-if="item.FormStatus === 0 || item.FormStatus === 2" @@click="showSelfCheckModal(item)">提送審查</el-button>
                            <template v-if="item.VerifyStage1 === 3">
                                <el-button v-if="item.FormStatus === 3" type="info" size="mini" round @@click="downloadPayment(item)">下載繳費單</el-button>
                                <el-button v-if="item.FormStatus === 4" type="info" size="mini" round @@click="downloadPaymentProof(item)">下載繳費證明</el-button>
                                <el-button v-if="item.FormStatus === 5" type="info" size="mini" round @@click="downloadFreeProof(item)">下載免徵證明</el-button>
                            </template>
                        </div>
                    </li>
                    <li style="border-bottom: 1px dashed #FF9C73;">
                        <div class="title">結算進度：</div>
                        <div class="content">{{getCalcStatus(item)}}</div>
                        <div class="link-row">
                            <el-button size="mini" type="info" round v-if="item.FormStatus === 4 && (item.CalcStatus === 0 || item.CalcStatus === 2)" @@click="SendCalcStatus1(item)">提送審查</el-button>
                            <template v-if="item.VerifyStage2 === 3">
                                <el-button v-if="item.CalcStatus === 3" type="info" size="mini" round @@click="downloadRePayment(item)">下載繳費單</el-button>
                                @*<el-button v-if="item.CalcStatus === 3" type="info" size="mini" round @@click="showPaymentProofModal(item)">上傳繳費證明</el-button>*@
                                <el-button v-if="item.CalcStatus === 5" type="info" size="mini" round @@click="showBankAccountModal(item)">退費帳戶</el-button>
                                <el-button v-if="item.CalcStatus > 3" type="info" size="mini" round @@click="downloadClearProof(item)">下載結清證明</el-button>
                            </template>
                        </div>
                    </li>
                </ul>
                <div class="bottom-btn-row">
                    <el-button icon="el-icon-search" @@click="showModal(item)">檢視</el-button>
                    <el-button type="success" icon="el-icon-copy-document" @@click="copyForm(item)">複製</el-button>
                    <el-button v-if="!item.C_NO" type="danger" class="btn-delete" icon="el-icon-delete" @@click="deleteForm(item)">刪除</el-button>
                </div>
            </div>
        </div>
    </div>

    <el-dialog :title="mode === 'Add' ? '空污費申報' : selectRow.COMP_NAM" :visible.sync="dialogVisible" width="90%" :close-on-click-modal="false" @@close="dialogClose" v-cloak>
        <el-tabs v-model="activeTab">
            <el-tab-pane label="工地基本資料" name="1" :disabled="selectRow.FormStatus <= 2">
                <el-form ref="tab1Form" :rules="tab1Rules" :model="selectRow" label-width="auto" :disabled="selectRow.FormStatus >= 3">
                    <el-form-item prop="PUB_COMP" label="案件類型">
                        <el-select v-model="selectRow.PUB_COMP">
                            <el-option label="請選擇" :value="null"></el-option>
                            <el-option label="私人工程" :value="false"></el-option>
                            <el-option label="公共工程" :value="true"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="管制編號">{{selectRow.C_NO ? `${selectRow.C_NO}-${selectRow.SER_NO}` : '待取號'}}</el-form-item>
                    <el-form-item prop="TOWN_NO" label="鄉鎮分類">
                        <el-select v-model="selectRow.TOWN_NO">
                            <el-option label="請選擇" :value="undefined"></el-option>
                            <el-option v-for="item in district" :key="item.Code" :label="item.Name" :value="item.Code"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="申請日期">{{selectRow.C_DATE | date}}</el-form-item>
                    <el-form-item prop="CreateUserName" label="申請人">
                        <el-input v-model="selectRow.CreateUserName" maxlength="20"></el-input>
                    </el-form-item>
                    <el-form-item prop="CreateUserEmail" label="申請人電子信箱">
                        <el-input type="email" v-model="selectRow.CreateUserEmail" maxlength="50"></el-input>
                    </el-form-item>
                    <el-form-item prop="COMP_NAM">
                        <span slot="label">
                            工程名稱 <el-tooltip class="item" effect="dark" content="新建農舍，工程名稱請填寫OOO農舍新建工程；若為增建農舍，請填寫OOO農舍增建工程" placement="top">
                                <span class="tip-text el-icon-info"></span>
                            </el-tooltip>
                        </span>
                        <el-input v-model="selectRow.COMP_NAM" maxlength="150"></el-input>
                    </el-form-item>
                    <el-form-item prop="KIND_NO" label="工程類別">
                        <el-select class="w100p" v-model="selectRow.KIND_NO">
                            <el-option label="請選擇" :value="null"></el-option>
                            <el-option v-for="item in projectCode" :key="item.ID" :label="`${item.ID}. ${item.Name}`" :value="item.ID"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item prop="ADDR" label="工地地址或地號">
                        <el-input v-model="selectRow.ADDR" maxlength="100"></el-input>
                    </el-form-item>
                    <el-form-item prop="B_SERNO" label="建照字號或合約編號">
                        <el-input v-model="selectRow.B_SERNO" maxlength="60"></el-input>
                    </el-form-item>
                    <div class="flex-row">
                        <el-form-item prop="LAT" label="座標(緯度)">
                            <el-input type="number" v-model="selectRow.LAT" maxlength="20"></el-input>
                        </el-form-item>
                        <el-form-item prop="LNG" label="座標(經度)">
                            <el-input type="number" v-model="selectRow.LNG" maxlength="20"></el-input>
                        </el-form-item>
                    </div>
                    <el-form-item prop="STATE">
                        <span slot="label">
                            工程內容概述 <el-tooltip class="item" effect="dark" content="請填寫工程施作大約內容(例如：施作道路工程，請填寫鋪設AC路面、混凝土排水溝等)" placement="top">
                                <span class="tip-text el-icon-info"></span>
                            </el-tooltip>
                        </span>
                        <el-input v-model="selectRow.STATE" maxlength="200"></el-input>
                    </el-form-item>
                    <el-form-item prop="EIACOMMENTS" label="環評保護對策">
                        <el-input v-model="selectRow.EIACOMMENTS"></el-input>
                    </el-form-item>
                    <el-form-item prop="RECCOMMENTS" label="備註">
                        <el-input v-model="selectRow.RECCOMMENTS"></el-input>
                    </el-form-item>
                </el-form>
            </el-tab-pane>
            <el-tab-pane label="營建業主基本資料" name="2" :disabled="selectRow.FormStatus <= 2">
                <el-form ref="tab2Form" :rules="tab2Rules" :model="selectRow" label-width="auto" :disabled="selectRow.FormStatus >= 3">
                    <div style="margin-bottom:10px" v-if="selectRow.FormStatus < 3">
                        <label class="el-form-item__label">快速選取</label>
                        <el-select v-model="selectCompany" @@change="selectCompanyChange">
                            <el-option label="請選擇" :value="null"></el-option>
                            <el-option v-for="item in companies" :key="item.ID" :label="item.S_NAME" :value="item.ID"></el-option>
                        </el-select>
                    </div>
                    <div class="contact-group">
                        <div class="flex-row">
                            <el-form-item prop="S_NAME" label="營建業主名稱">
                                <el-input v-model="selectRow.S_NAME" maxlength="80"></el-input>
                            </el-form-item>
                            <el-form-item prop="S_G_NO" label="營利事業統一編號">
                                <el-input v-model="selectRow.S_G_NO" maxlength="10"></el-input>
                            </el-form-item>
                            <el-form-item prop="S_TEL" label="營建業主電話">
                                <el-input type="tel" v-model="selectRow.S_TEL" maxlength="30"></el-input>
                            </el-form-item>
                        </div>
                        <el-form-item prop="S_ADDR1" label="營業地址">
                            <el-input v-model="selectRow.S_ADDR1" maxlength="50"></el-input>
                        </el-form-item>
                        <el-form-item prop="S_ADDR2" label="聯絡地址">
                            <el-input v-model="selectRow.S_ADDR2" maxlength="50"></el-input>
                        </el-form-item>
                    </div>
                    <div class="contact-group">
                        <div class="flex-row">
                            <el-form-item prop="S_B_NAM" label="負責人姓名">
                                <el-input v-model="selectRow.S_B_NAM" maxlength="20"></el-input>
                            </el-form-item>
                            <el-form-item prop="S_B_TIT" label="職稱">
                                <el-input v-model="selectRow.S_B_TIT" maxlength="20"></el-input>
                            </el-form-item>
                        </div>
                        <div class="flex-row">
                            <el-form-item prop="S_B_ID" label="負責人身分證字號">
                                <el-input v-model="selectRow.S_B_ID" maxlength="20"></el-input>
                            </el-form-item>
                            <el-form-item prop="S_B_BDATE" label="負責人生日">
                                <div class="el-input">
                                    <input type="text" class="el-input__inner datepicker" data-key="S_B_BDATE" v-model="selectRow.S_B_BDATE" :disabled="selectRow.FormStatus >= 3" readonly />
                                </div>
                            </el-form-item>
                        </div>
                    </div>
                    <div class="contact-group">
                        <div class="flex-row">
                            <el-form-item prop="S_C_NAM" label="聯絡人姓名">
                                <el-input v-model="selectRow.S_C_NAM" maxlength="20"></el-input>
                            </el-form-item>
                            <el-form-item prop="S_C_TIT" label="職稱">
                                <el-input v-model="selectRow.S_C_TIT" maxlength="20"></el-input>
                            </el-form-item>
                        </div>
                        <div class="flex-row">
                            <el-form-item prop="S_C_ID" label="聯絡人身分證字號">
                                <el-input v-model="selectRow.S_C_ID" maxlength="20"></el-input>
                            </el-form-item>
                            <el-form-item prop="S_C_TEL" label="電話">
                                <el-input type="tel" v-model="selectRow.S_C_TEL" maxlength="30"></el-input>
                            </el-form-item>
                        </div>
                        <el-form-item prop="S_C_ADDR" label="聯絡人地址">
                            <el-input v-model="selectRow.S_C_ADDR" maxlength="50"></el-input>
                        </el-form-item>
                    </div>
                </el-form>
            </el-tab-pane>
            <el-tab-pane label="承(包)造單位基本資料" name="3" :disabled="selectRow.FormStatus <= 2">
                <el-form ref="tab3Form" :rules="tab3Rules" :model="selectRow" label-width="auto" :disabled="selectRow.FormStatus >= 3">
                    <div style="margin-bottom:10px" v-if="selectRow.FormStatus < 3">
                        <label class="el-form-item__label">快速選取</label>
                        <el-select v-model="selectContractor" @@change="selectContractorChange">
                            <el-option label="請選擇" :value="null"></el-option>
                            <el-option v-for="item in contractors" :key="item.ID" :label="item.R_NAME" :value="item.ID"></el-option>
                        </el-select>
                    </div>
                    <div class="contact-group">
                        <div class="flex-row">
                            <el-form-item prop="R_NAME" label="承造單位名稱">
                                <el-input v-model="selectRow.R_NAME" maxlength="60"></el-input>
                            </el-form-item>
                            <el-form-item prop="R_G_NO" label="營利事業統一編號">
                                <el-input v-model="selectRow.R_G_NO" maxlength="10"></el-input>
                            </el-form-item>
                            <el-form-item prop="R_TEL" label="承造單位電話">
                                <el-input type="tel" v-model="selectRow.R_TEL" maxlength="30"></el-input>
                            </el-form-item>
                        </div>
                        <el-form-item prop="R_ADDR1" label="營業地址">
                            <el-input v-model="selectRow.R_ADDR1" maxlength="50"></el-input>
                        </el-form-item>
                        <el-form-item prop="R_ADDR2" label="聯絡地址">
                            <el-input v-model="selectRow.R_ADDR2" maxlength="50"></el-input>
                        </el-form-item>
                    </div>
                    <div class="contact-group">
                        <div class="flex-row">
                            <el-form-item prop="R_B_NAM" label="負責人姓名">
                                <el-input v-model="selectRow.R_B_NAM" maxlength="20"></el-input>
                            </el-form-item>
                            <el-form-item prop="R_B_TIT" label="職稱">
                                <el-input v-model="selectRow.R_B_TIT" maxlength="20"></el-input>
                            </el-form-item>
                        </div>
                        <div class="flex-row">
                            <el-form-item prop="R_B_ID" label="身分證字號">
                                <el-input v-model="selectRow.R_B_ID" maxlength="30"></el-input>
                            </el-form-item>
                            <el-form-item prop="R_B_BDATE" label="負責人生日">
                                <div class="el-input">
                                    <input type="text" class="el-input__inner datepicker" data-key="R_B_BDATE" v-model="selectRow.R_B_BDATE" :disabled="selectRow.FormStatus >= 3" readonly />
                                </div>
                            </el-form-item>
                        </div>
                    </div>
                    <div class="contact-group">
                        <div class="flex-row">
                            <el-form-item prop="R_M_NAM" label="工地主任姓名">
                                <el-input v-model="selectRow.R_M_NAM" maxlength="10"></el-input>
                            </el-form-item>
                            <el-form-item prop="R_C_NAM" label="工地環保負責人姓名">
                                <el-input v-model="selectRow.R_C_NAM" maxlength="10"></el-input>
                            </el-form-item>
                            <el-form-item prop="R_TEL1" label="電話">
                                <el-input type="tel" v-model="selectRow.R_TEL1" maxlength="30"></el-input>
                            </el-form-item>
                        </div>
                        <el-form-item prop="R_ADDR3" label="工務所地址">
                            <el-input v-model="selectRow.R_ADDR3" maxlength="50"></el-input>
                        </el-form-item>
                    </div>
                </el-form>
            </el-tab-pane>
            <el-tab-pane label="經費資料" name="4" :disabled="selectRow.FormStatus <= 2">
                <el-form ref="tab4Form" :rules="tab4Rules" :model="selectRow" label-width="auto" :disabled="selectRow.CalcStatus > 2">
                    <div class="flex-row">
                        <el-form-item prop="MONEY" label="工程合約經費(元)">
                            <el-input type="number" v-model="selectRow.MONEY"></el-input>
                        </el-form-item>
                        <el-form-item prop="C_MONEY" label="工程環保經費(元)"><div style="min-width:120px">{{calcC_MONEY | comma}}</div></el-form-item>
                        <el-form-item prop="PERCENT" label="工程合約經費比例">{{selectRow.PERCENT}}%</el-form-item>
                    </div>
                    <div v-if="selectRow.KIND_NO === '1' || selectRow.KIND_NO === '2'" class="flex-row">
                        <el-form-item prop="AREA_F" label="基地面積">
                            <el-input type="number" style="width:120px" v-model="selectRow.AREA_F"></el-input> 平方公尺
                        </el-form-item>
                        <el-form-item prop="AREA_B" label="建築面積">
                            <el-input type="number" style="width:120px" v-model="selectRow.AREA_B"></el-input> 平方公尺
                        </el-form-item>
                        <el-form-item prop="PERC_B" label="建蔽率">{{calcPERC_B}}%</el-form-item>
                    </div>
                    <div v-else-if="selectRow.KIND_NO === '3'">
                        <el-form-item prop="VOLUMEL" label="總樓地板面積(平方公尺)">
                            <el-input type="number" v-model="selectRow.VOLUMEL"></el-input>
                        </el-form-item>
                    </div>
                    <div v-else>
                        <el-form-item prop="AREA" label="工程面積">
                            <el-input type="number" v-model="selectRow.AREA" style="width:120px"></el-input> 平方公尺
                        </el-form-item>
                    </div>
                    <div v-if="selectRow.KIND_NO === 'B'" v-cloak>
                        <div style="margin-bottom:10px">鬆方體積換算表</div>
                        @*<div class="contact-group">
                                <div class="flex-row" style="justify-content: flex-start; align-items: flex-end">
                                    <el-form-item label="實方體積(立方公尺)">
                                        <el-input type="number" v-model="selectRow.D2"></el-input>
                                    </el-form-item>
                                    <el-form-item label="鬆實方比值">
                                        <el-input type="number" v-model="selectRow.RATIOLB"></el-input>
                                    </el-form-item>
                                    <el-form-item>
                                        <el-button type="primary" round @@click="calcD2">換算</el-button>
                                    </el-form-item>
                                </div>
                            </div>*@
                        <div class="contact-group">
                            <div class="flex-row" style="justify-content: flex-start; align-items: flex-end">
                                <el-form-item label="鬆方重量(公噸)">
                                    <el-input type="number" v-model="selectRow.E2"></el-input>
                                </el-form-item>
                                <el-form-item label="密度">
                                    <el-input type="number" v-model="selectRow.DENSITYL"></el-input>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="primary" round @@click="calcE2">換算</el-button>
                                </el-form-item>
                            </div>
                        </div>
                        <div class="hint-message"><i class="el-icon-info"></i> 鬆方體積除以實方體積之比值以一‧三一計，鬆方之密度以一‧五一公噸/立方公尺計。營建業主如有現地取樣之實方與鬆方試驗相關數據，得報請地方主管機關同意後，依該數據採計。</div>
                        <el-form-item prop="VOLUMEL" label="外運土石體積(立方公尺)">
                            <el-input type="number" v-model="selectRow.VOLUMEL"></el-input>
                        </el-form-item>
                    </div>
                    <div class="flex-row">
                        <el-form-item prop="B_DATE" label="開始日期">
                            <div class="el-input">
                                <input type="text" class="el-input__inner datepicker" data-key="B_DATE" v-model="selectRow.B_DATE" :disabled="selectRow.FormStatus > 2" readonly />
                            </div>
                        </el-form-item>
                        <el-form-item prop="E_DATE" label="結束日期">
                            <div class="el-input">
                                <input type="text" class="el-input__inner datepicker" data-key="E_DATE" v-model="selectRow.E_DATE" :disabled="selectRow.CalcStatus > 2" readonly />
                            </div>
                        </el-form-item>
                        <el-form-item label="預計施工天數">{{totalDays}}</el-form-item>
                    </div>
                    <el-form-item label="規定繳費方式">
                        <el-select v-model="selectRow.P_KIND" :disabled="selectRow.FormStatus >= 3">
                            <el-option label="一次全繳" value="一次全繳"></el-option>
                            <el-option label="分兩次繳清" value="分兩次繳清"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="空汙防制措施計畫書">
                        <el-select v-model="selectRow.REC_YN" :disabled="selectRow.FormStatus >= 3">
                            <el-option label="有" value="有"></el-option>
                            <el-option label="無" value="無"></el-option>
                        </el-select>
                    </el-form-item>
                </el-form>
            </el-tab-pane>
            <el-tab-pane label="檢附資料" name="5" :disabled="selectRow.FormStatus <= 2">
                <ul class="attach-tip-list">
                    <li>如果尚未製作檔案，請先按存檔稍後繼續，將剛剛輸入的內容存檔，待製作完成後，再到此處上傳。                    </li>
                    <li>每次上傳將蓋原有檔案</li>
                    <li>附件檔案是一個彙整所有文件的PDF檔案。需要上傳作為審查依據</li>
                    <li>檔案格式PDF(小於100Mb)</li>
                </ul>
                <div class="attach-row">
                    <div style="width:360px">
                        <div class="title">首期申報附件</div>
                        <template v-if="selectRow.FormStatus <= 2">
                            <el-upload ref="upload1" drag action="@Url.Content("~/Apply/UploadFile")" :show-file-list="false" accept=".pdf" :on-progress="onUploading" :on-success="uploadSuccess1">
                                <i class="el-icon-upload"></i>
                                <div class="el-upload__text">將文件拖曳到此處，或<em>點擊上傳</em></div>
                                <div class="el-upload__tip" slot="tip">只能上傳pdf文件</div>
                            </el-upload>
                        </template>
                        <a v-if="selectRow.FileName1" :href="`@Url.Content("~/Option/Download")?f=${selectRow.FileName1}&n=${selectRow.DisplayName1}`" class="link-download" :title="selectRow.DisplayName1">{{selectRow.DisplayName1}}</a>
                    </div>
                    <div style="width:360px">
                        <template v-if="selectRow.FormStatus > 2 && selectRow.CalcStatus <= 2">
                            <div class="title">結算申報附件</div>
                            <el-upload ref="upload2" drag action="@Url.Content("~/Apply/UploadFile")" :show-file-list="false" accept=".pdf" :on-progress="onUploading" :on-success="uploadSuccess2">
                                <i class="el-icon-upload"></i>
                                <div class="el-upload__text">將文件拖曳到此處，或<em>點擊上傳</em></div>
                                <div class="el-upload__tip" slot="tip">只能上傳pdf文件</div>
                            </el-upload>
                        </template>
                        <a v-if="selectRow.FileName2" :href="`@Url.Content("~/Option/Download")?f=${selectRow.FileName2}&n=${selectRow.DisplayName2}`" class="link-download" :title="selectRow.DisplayName2">{{selectRow.DisplayName2}}</a>
                    </div>
                </div>
            </el-tab-pane>
            <el-tab-pane label="停復工" name="6" :disabled="selectRow.FormStatus <= 2">
                <div class="table-responsive" style="margin-top:10px">
                    <table class="table row-table">
                        <thead>
                            <tr>
                                <th style="width:160px">停工日期</th>
                                <th style="width:160px">復工日期</th>
                                <th style="width: 140px; white-space: nowrap">停工天數</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-if="selectRow.StopWorks.length === 0">
                                <td colspan="3" class="text-center">暫無資料</td>
                            </tr>
                            <tr v-for="(item, idx) in selectRow.StopWorks" :key="idx">
                                <td>{{item.DOWN_DATE2 | date}}</td>
                                <td>{{item.UP_DATE2 | date}}</td>
                                <td>{{getStopDays(item)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </el-tab-pane>
        </el-tabs>

        <span slot="footer" class="dialog-footer">
            @*新增/初審通過前/初審通過後且結算通過前*@
            <template v-if="mode === 'Add' || selectRow.FormStatus <= 2 || (selectRow.FormStatus > 2 && selectRow.CalcStatus <= 2)">
                <el-button icon="el-icon-close" @@click="dialogVisible = false">取 消</el-button>
                <el-button type="primary" icon="el-icon-arrow-left" :disabled="activeTab === '1'" @@click="goPrevTab">上一步</el-button>
                <el-button type="primary" @@click="goNextTab">{{activeTab === '6' ? '儲存' : '下一步'}} <i class="el-icon-arrow-right el-icon--right"></i></el-button>
            </template>
        </span>
    </el-dialog>

    <el-dialog title="退件原因" :visible.sync="failReason1DialogVisible" width="30%" v-cloak>
        <div v-html="selectRow.FailReason1"></div>
        <span slot="footer" class="dialog-footer">
            <el-button type="primary" @@click="failReason1DialogVisible = false">確 定</el-button>
        </span>
    </el-dialog>

    <el-dialog title="退件原因" :visible.sync="failReason2DialogVisible" width="30%" v-cloak>
        <div v-html="selectRow.FailReason2"></div>
        <span slot="footer" class="dialog-footer">
            <el-button type="primary" @@click="failReason2DialogVisible = false">確 定</el-button>
        </span>
    </el-dialog>

    <el-dialog title="退款帳戶" :visible.sync="bankAccountDialogVisible" width="30%" v-cloak>
        <el-form ref="form2" :rules="rules2" :model="selectRow.RefundBank" label-position="top">
            <el-form-item prop="Code" label="銀行代碼">
                <el-select class="w100p" v-model="selectRow.RefundBank.Code" filterable>
                    <el-option label="請選擇" :value="null"></el-option>
                    <el-option v-for="item in banks" :key="item.code" :label="`${item.code} ${item.name}`" :value="item.code"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item prop="Account" label="銀行帳號">
                <el-input v-model="selectRow.RefundBank.Account"></el-input>
            </el-form-item>
            <el-form-item prop="File" label="存摺照片">
                <div v-if="selectRow.RefundBank.Photo" class="photo-wrap">
                    <el-button class="btn-remove" type="danger" size="mini" icon="el-icon-delete" circle @@click="deleteBankPhoto"></el-button>
                    <img class="w100p" :src="`/Option/Download?f=${selectRow.RefundBank.Photo}`" />
                </div>
                <input v-else type="file" id="fileBA" accept=".jpg,.jpeg,.png" />
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <template v-if="selectRow.RefundBank.Photo">
                <el-button type="primary" @@click="bankAccountDialogVisible = false">確 定</el-button>
            </template>
            <template v-else>
                <el-button @@click="bankAccountDialogVisible = false">取 消</el-button>
                <el-button type="primary" @@click="saveBankAccount">確 定</el-button>
            </template>
        </span>
    </el-dialog>

    @*<el-dialog title="上傳繳費證明" :visible.sync="paymentProofModalVisible" width="30%" v-cloak>
            <el-form ref="form3" :rules="rules3" :model="selectRow.PaymentProof" label-position="top">
                <el-form-item prop="File">
                    <div v-if="selectRow.PaymentProof.ProofFile" class="photo-wrap">
                        <el-button class="btn-remove" type="danger" size="mini" icon="el-icon-delete" circle @@click="deletePaymentProof"></el-button>
                        <img class="w100p" :src="`/Option/Download?f=${selectRow.PaymentProof.ProofFile}`" />
                    </div>
                    <input v-else type="file" id="filePF" accept=".jpg,.jpeg,.png" />
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <template v-if="selectRow.PaymentProof.ProofFile">
                    <el-button type="primary" @@click="paymentProofModalVisible = false">確 定</el-button>
                </template>
                <template v-else>
                    <el-button @@click="paymentProofModalVisible = false">取 消</el-button>
                    <el-button type="primary" @@click="savePaymentProof">上 傳</el-button>
                </template>
            </span>
        </el-dialog>*@

    <el-dialog title="請勾選已上傳附件" :visible.sync="selfCheckModalVisible" width="30%" v-cloak>
        <ul class="selfcheck-list">
            <li v-for="(item, idx) in filterAttachmentInfo" :key="idx">
                <div class="checkbox-group">
                    <input type="checkbox" :id="`c${idx}`" name="checkbox">
                    <label :for="`c${idx}`">{{item.FileTitle}}</label>
                </div>
            </li>
        </ul>
        <span slot="footer" class="dialog-footer">
            <el-button @@click="selfCheckModalVisible = false">取 消</el-button>
            <el-button type="primary" @@click="sendFormStatus1">確 定</el-button>
        </span>
    </el-dialog>
</div>
